@charset "UTF-8";

@font-face {
    font-family: Robo;
    src: url('pacote-projeto-d010/fontes/idroid.otf') format(opentype);
}

body {
    background-color: rgba(0, 233, 0, 0.441);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgba(9, 162, 9, 0.671);
    padding: 5px;
}

header > h1 {
    text-align: center;
    color: white;
}

header > p {
    text-align: center;
    color: white;
}

header > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;

}

a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    width: 800px;
    margin: 0  auto;
    padding: 10px;
    text-align: justify;
}

img {
    display: block;
    margin: auto;
}

main > h1 {
    color: rgba(58, 97, 58, 0.734);
    font-family: Robo;
    font-size: 1.5em;
}

main > h2 {
    color: rgba(58, 97, 58, 0.734);
    font-family: Robo;
    background-color: rgba(144, 238, 144, 0.389);
}

main > p {
    text-indent: 2em;
}